
body {
  background: #ececea;
}

.page-name{
  padding: 20;
  background: #4aaaa5;
  width: 150px;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;

}

.navbar{
  padding: 0;
}



@media (max-width: 850px) {
  .container-fluid{
      background: #4aaaa5;
    }
    .navbar-collapse{
      background: #ffffff;
    }
  
  
}

